@import '../../styles/customMediaQueries.css';

.listingPanel {
  flex-grow: 1;
  width: 100%;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  padding: 32px 24px 0 24px;

  @media (--viewportMedium) {
    padding: 40px 24px 0 24px;
  }

  @media (--viewportLarge) {
    max-width: 1128px;
    padding: 40px 36px 0 36px;
  }

  @media (--viewportXLarge) {
    max-width: 1056px;
    padding: 40px 0 0 0;
  }
}

.heading {
  margin-bottom: 33px;

  @media (--viewportMedium) {
    margin-bottom: 33px;
  }
}

.noResultsContainer {
  margin-bottom: 33px;
}

.headingNoFavorites {
  margin-bottom: 16px;
}

.noFavoritesParagraph {
  composes: marketplaceBodyFontStyles from global;
  color: var(--colorGrey700);
  margin: 0;
}

.listingCards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media (--viewportMedium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (--viewportLarge) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.listingCard {
  width: 100%;
}

.error {
  color: var(--colorFail);
}
